h1 { font-weight: 100; font-size: 2.5em;}
    
    #content { 
     width: 600px; 
     margin: 0 auto; 
     margin-top: 50px; 
     border: 1px;
     text-align: center; 
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-weight: 100;
   }
    
    .six-ball {
      background-color: hotpink;
      border: 1px solid red;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    
    .answer {
      background-color: pink;
      border: 1px solid hotpink;
      border-radius: 50%;
      width: 50%;
      height: 50%;
      margin: 25% auto;
    }
    
    #six {
      font-size: 5em;
      margin: 20% auto;
      color: white;
    }
    
    #answer {
      padding: 23px;
      color: darkgoldenrod;
      letter-spacing: 2px;
      font-size:18px;
    }
    
    #question {
      margin: 20px;
      padding: 10px;
      width: 400px;
      font-size:22px;
    }
    
    #info {
      font-size: 22px;
    }